<div style="position: fixed; width: 100%; z-index: 99">
  <nav class="navbar navbar-expand-sm bg-primary" style="max-height: 40px">
    <div class="container-fluid">
      <span style="color: #ffffff">
        <i style="font-size: 25px" class="fas fa-shipping-fast"></i>&nbsp;
        <strong style="font-size: 20px">Flipkart |</strong>
      </span>
      &nbsp;
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a
              class="nav-link nav-list"
              style="cursor: pointer"
              aria-current="page"
              (click)="allFilterList()"
            >
              <b class="nav-text">All Products</b></a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link nav-list"
              (click)="filterFashionList()"
              style="cursor: pointer"
              ><b class="nav-text">Fashion</b></a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link nav-list"
              (click)="filterList('electronics')"
              style="cursor: pointer"
              ><b class="nav-text">Electronic</b></a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link nav-list"
              (click)="filterList('jewelery')"
              style="cursor: pointer"
              ><b class="nav-text">Jewellery</b></a
            >
          </li>
        </ul>
      </div>
      <div>
        <i
          style="font-size: 30px; color: white; cursor: pointer"
          class="fas fa-cart-plus"
          routerLink="/cart"
        ></i>
        <span class="badge text-bg-warning">{{ totalItem }}</span>
      </div>
    </div>
  </nav>
</div>

<div class="container">
  <div
    class="row"
    *ngIf="allProductList | filter : searchText as newProductList"
  >
    <div
      class="d-flex justify-content-center"
      style="margin-top: 60px; margin-bottom: 10px"
    >
      <i>Search Products Here :</i>
      <input
        style="width: 400px; margin-left: 10px"
        class="focus-input"
        type="text"
        placeholder="Search"
        [value]="searchText"
        [(ngModel)]="searchText"
        oninput="event.target.value = event.target.value.trim().replace(/ +/g, ' ')"
      />
    </div>
    <!-- onkeydown="if(event.key ==='.'||event.key ==='-'||event.key ===' ') 
        {event.preventDefault()}" -->
    <!-- oninput="this.value = this.value.toUpperCase()" -->
    <div *ngIf="loading" class="text-center mt-5">
      <div class="spinner-border text-danger" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>
    <ng-container
      style="margin-top: 150px"
      *ngIf="newProductList.length; else notFound"
    >
      <div class="col-md-3 mt-2" *ngFor="let product of newProductList">
        <div class="card" style="margin: 5px; padding: 5px">
          <img
            src="{{ product.image }}"
            class="card-img-top"
            style="height: 100px; width: 100px; margin-left: 15px"
            alt="image"
          />
          <div class="card-body">
            <h5
              class="card-title text-truncate"
              style="max-width: 180px"
              title="{{ product.title }}"
            >
              {{ product.title }}
            </h5>
            <p>Price:{{ product.price | currency : "INR" }}</p>

            <button
              class="btn btn-info btn-sm"
              style="margin-left: 10px"
              (click)="addToCart(product)"
            >
              Add cart
            </button>
          </div>
        </div>
      </div>
    </ng-container>
    <ng-template #notFound>
      <div style="margin-top: 60px" class="d-flex justify-content-center">
        <span
          ><i class="fas fa-search search-icon"></i>
          <b style="margin-left: 8px">No item found..!</b></span
        >
      </div>
    </ng-template>
  </div>
</div>
